[Unit]
Description=SyncThing

[Service]
Type=simple
Environment=HOME=/root
ExecStart=/usr/bin/syncthing -home=/etc/syncthing/

[Install]
WantedBy=multi-user.target
